<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Canvas hates me</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  <!-- <script src="../static/js/lib/three.js"></script> -->
  <!-- <script src="../static/js/lib/STLLoader.js"></script> -->
  <script src="../static/js/scene.js"></script>
</head>

<body>
  <h1 class="title">Park ??</h1>
  
  <div class="main">
    <h1>perish</h1>
  </div>


  <canvas id="bg"></canvas>
  <script type="module" src="../static/js/renderlot.js"></script>
  <!-- <script src="../static/js/scene.js"></script> -->
</body>

</html>