<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Canvas hates me</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/lib/three.js"></script>
</head>

<body>

  <canvas id="bg"></canvas>

  <header>
    <h1 class="pageTitle">Park ??</h1>
  </header>

  <main>
    <div class="mainPageFocus">
      <h1 id="blogIntro">perish</h1>

    </div>

    <div class="otherPosts">

    </div>
  </main>
  <script src="../static/js/renderlot.js"></script>
  <script>
    
  </script>
</body>

</html>